
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245,245,45) ;

}

form {

    background-color: rgb(200, 200, 100);
    border-style: groove;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;

}

.box-form {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.resilia {
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;


}


